.vacancies h1 {
    color: var(--primary);
    font-size: 45px;
  }
  
  .vacancies h2 {
    color: var(--secondary);
  }
  
  .vacancies p {
    color: var(--black);
    font-size: 13px;
  }
  
  .vacancies ul {
    color: var(--black);
    list-style-type: square;
    margin: 20px 0;
  }
  
  .vacancies ul li {
    font-size: 12px;
    padding: 3px;
  }