@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
  --primary: #ff9933;
  --secondary: #666;
  --red: #d80c0c;
  --black: #333;
  --white: #fff;
  --link: #0000ee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", "sans-serif";
  background: #fff;
}

/* navbar */
header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  max-width: 1400px;
}
header div {
  margin-right: auto;
  
}
header div img {
  width: 360px;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  width: 200px;
  padding-bottom: 1rem;
  margin-right: 1rem;
}
header nav h1 {
  font-size: 2rem;
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 6px;
  flex-direction: column;
  color: var(--white);
}
header nav a:hover {
  background-color: var(--black);
}
header nav a.active {
  background: var(--black);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column; 
    align-items: flex-start;
  }

  header div img {
    width: 280px;
  }

  header div,
  header nav {
    width: 100%;
    margin: 0; 
  }

  header nav h1 {
    margin-bottom: 1rem; 
  }

  main {
    padding: 10px;
  }
}

/* page content */
main {
  max-width: 910px;
  margin: 40px auto;
}

/* footer */
footer {
  max-width: 1400px;
  text-align: end;
  bottom: 0;
  margin: 60px 20px 20px 0;
}
footer a {
  color: var(--black);
}
footer p {
  font-size: 12px;
  color: var(--secondary);
}


/* js modal file */
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content {
  position: relative;
  outline: none;
  width: auto;
  max-width: 80%; /* Adjust the max-width as needed */
  max-height: 80vh; /* Adjust the max-height as needed */
  overflow: auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.ReactModal__Content button {
  position: absolute;
  top: 10px;
  right: 10px;
}